.geocoder-control-input {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("img/search.png");
    background-size: 26px;
    border: none;
    text-indent: 6px;
    font-size: 13px;
    line-height: normal;
    height: auto;
    padding: 5px 0;
    width: 100%;
    background-position: right center;
    cursor: pointer;
    box-sizing: border-box
}

.geocoder-control-input-disabled {
    background-color: #f4f4f4;
    background-image: url("img/search-disabled.png")
}

.geocoder-control {
    width: 26px;
    height: 26px;
    -webkit-transition: width .175s ease-in;
    -moz-transition: width .175s ease-in;
    -ms-transition: width .175s ease-in;
    -o-transition: width .175s ease-in;
    transition: width .175s ease-in
}

.geocoder-control-expanded, .leaflet-touch .geocoder-control-expanded {
    width: 275px
}

.geocoder-control-input.geocoder-control-loading {
    background-image: url("img/loading.gif");
    background-size: 26px
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .geocoder-control-input {
        background-image: url("img/search@2x.png")
    }

    .geocoder-control-input-disabled {
        background-image: url("img/search@2x-disabled.png")
    }

    .geocoder-control-input.geocoder-control-loading {
        background-image: url("img/loading@2x.gif")
    }
}

.geocoder-control-input:focus {
    outline: none;
    cursor: text
}

.geocoder-control-input::-ms-clear {
    display: none
}

.geocoder-control-suggestions {
    width: 100%;
    position: absolute;
    top: 26px;
    left: 0;
    margin-top: 10px;
    overflow: auto;
    display: none
}

.geocoder-control-list + .geocoder-control-header {
    border-top: 1px solid #d5d5d5
}

.geocoder-control-header {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #444;
    background: #F2F2F2;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    padding: .5em
}

.geocoder-control-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.geocoder-control-suggestions .geocoder-control-suggestion {
    font-size: 13px;
    padding: 7px;
    background: white;
    border-top: 1px solid #f1f1f1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer
}

.geocoder-control-suggestions .geocoder-control-suggestion:first-child {
    border: none
}

.geocoder-control-suggestions .geocoder-control-suggestion.geocoder-control-selected, .geocoder-control-suggestions .geocoder-control-suggestion:hover {
    background: #7FDFFF;
    border-color: #7FDFFF
}

.leaflet-right .geocoder-control-suggestions {
    left: auto;
    right: 0
}

.leaflet-right .geocoder-control-input {
    left: auto;
    right: 0
}

.leaflet-bottom .geocoder-control-suggestions {
    margin-top: 0;
    top: 0
}

.leaflet-touch .geocoder-control {
    width: 34px
}

.leaflet-touch .geocoder-control.geocoder-control-expanded {
    width: 275px
}

.leaflet-touch .geocoder-control-input {
    height: 34px;
    line-height: 30px;
    background-size: 30px
}

.leaflet-touch .geocoder-control-suggestions {
    top: 30px;
    width: 271px
}

.leaflet-oldie .geocoder-control-input {
    width: 28px;
    height: 28px
}

.leaflet-oldie .geocoder-control-expanded .geocoder-control-input {
    width: auto
}

.leaflet-oldie .geocoder-control-input, .leaflet-oldie .geocoder-control-suggestions {
    border: 1px solid #999
}

#float_legend {
    opacity:0.9;
    width:165px;
    height:auto;
    margin-left:-6px;
    position:absolute;
    top:10vh;
    left:5vw;
    z-index: 2000 !important;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}